FolderUI/Service References/FolderWCFReference/FolderWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FolderWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IFolderWCF_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61110/FolderWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61110/FolderWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61110/FolderWCF.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFolderWCF_SaveData_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveData" />
  </wsdl:message>
  <wsdl:message name="IFolderWCF_SaveData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDataResponse" />
  </wsdl:message>
  <wsdl:message name="IFolderWCF_GetAllFolders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFolders" />
  </wsdl:message>
  <wsdl:message name="IFolderWCF_GetAllFolders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFoldersResponse" />
  </wsdl:message>
  <wsdl:message name="IFolderWCF_GetFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFiles" />
  </wsdl:message>
  <wsdl:message name="IFolderWCF_GetFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilesResponse" />
  </wsdl:message>
  <wsdl:portType name="IFolderWCF">
    <wsdl:operation name="SaveData">
      <wsdl:input wsaw:Action="http://tempuri.org/IFolderWCF/SaveData" message="tns:IFolderWCF_SaveData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFolderWCF/SaveDataResponse" message="tns:IFolderWCF_SaveData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFolders">
      <wsdl:input wsaw:Action="http://tempuri.org/IFolderWCF/GetAllFolders" message="tns:IFolderWCF_GetAllFolders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFolderWCF/GetAllFoldersResponse" message="tns:IFolderWCF_GetAllFolders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IFolderWCF/GetFiles" message="tns:IFolderWCF_GetFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFolderWCF/GetFilesResponse" message="tns:IFolderWCF_GetFiles_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IFolderWCF" type="tns:IFolderWCF">
    <wsp:PolicyReference URI="#CustomBinding_IFolderWCF_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveData">
      <soap12:operation soapAction="http://tempuri.org/IFolderWCF/SaveData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFolders">
      <soap12:operation soapAction="http://tempuri.org/IFolderWCF/GetAllFolders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFiles">
      <soap12:operation soapAction="http://tempuri.org/IFolderWCF/GetFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FolderWCF">
    <wsdl:port name="CustomBinding_IFolderWCF" binding="tns:CustomBinding_IFolderWCF">
      <soap12:address location="http://localhost:61110/FolderWCF.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:61110/FolderWCF.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>