Folder/Service References/FolderWCFReference/FolderWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FolderWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61020/FolderWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61020/FolderWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61020/FolderWCF.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFolderWCF_AddFileToDB_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFileToDB" />
  </wsdl:message>
  <wsdl:message name="IFolderWCF_AddFileToDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFileToDBResponse" />
  </wsdl:message>
  <wsdl:message name="IFolderWCF_AddDirToDB_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDirToDB" />
  </wsdl:message>
  <wsdl:message name="IFolderWCF_AddDirToDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDirToDBResponse" />
  </wsdl:message>
  <wsdl:message name="IFolderWCF_Exists_InputMessage">
    <wsdl:part name="parameters" element="tns:Exists" />
  </wsdl:message>
  <wsdl:message name="IFolderWCF_Exists_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IFolderWCF_GetId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetId" />
  </wsdl:message>
  <wsdl:message name="IFolderWCF_GetId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdResponse" />
  </wsdl:message>
  <wsdl:message name="IFolderWCF_GetFileFromDB_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileFromDB" />
  </wsdl:message>
  <wsdl:message name="IFolderWCF_GetFileFromDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileFromDBResponse" />
  </wsdl:message>
  <wsdl:message name="IFolderWCF_GetDirFromDB_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirFromDB" />
  </wsdl:message>
  <wsdl:message name="IFolderWCF_GetDirFromDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirFromDBResponse" />
  </wsdl:message>
  <wsdl:portType name="IFolderWCF">
    <wsdl:operation name="AddFileToDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IFolderWCF/AddFileToDB" message="tns:IFolderWCF_AddFileToDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFolderWCF/AddFileToDBResponse" message="tns:IFolderWCF_AddFileToDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDirToDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IFolderWCF/AddDirToDB" message="tns:IFolderWCF_AddDirToDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFolderWCF/AddDirToDBResponse" message="tns:IFolderWCF_AddDirToDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Exists">
      <wsdl:input wsaw:Action="http://tempuri.org/IFolderWCF/Exists" message="tns:IFolderWCF_Exists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFolderWCF/ExistsResponse" message="tns:IFolderWCF_Exists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetId">
      <wsdl:input wsaw:Action="http://tempuri.org/IFolderWCF/GetId" message="tns:IFolderWCF_GetId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFolderWCF/GetIdResponse" message="tns:IFolderWCF_GetId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileFromDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IFolderWCF/GetFileFromDB" message="tns:IFolderWCF_GetFileFromDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFolderWCF/GetFileFromDBResponse" message="tns:IFolderWCF_GetFileFromDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDirFromDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IFolderWCF/GetDirFromDB" message="tns:IFolderWCF_GetDirFromDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFolderWCF/GetDirFromDBResponse" message="tns:IFolderWCF_GetDirFromDB_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFolderWCF" type="tns:IFolderWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddFileToDB">
      <soap:operation soapAction="http://tempuri.org/IFolderWCF/AddFileToDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDirToDB">
      <soap:operation soapAction="http://tempuri.org/IFolderWCF/AddDirToDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exists">
      <soap:operation soapAction="http://tempuri.org/IFolderWCF/Exists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetId">
      <soap:operation soapAction="http://tempuri.org/IFolderWCF/GetId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileFromDB">
      <soap:operation soapAction="http://tempuri.org/IFolderWCF/GetFileFromDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDirFromDB">
      <soap:operation soapAction="http://tempuri.org/IFolderWCF/GetDirFromDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FolderWCF">
    <wsdl:port name="BasicHttpBinding_IFolderWCF" binding="tns:BasicHttpBinding_IFolderWCF">
      <soap:address location="http://localhost:61020/FolderWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>